:root {
    color-scheme: light dark;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga" on;
    text-rendering: optimizelegibility;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    font:
        400 1em / 1.4 Inter,
        sans-serif;
}

.input,
.output {
    border: none;
    height: 200px;
    padding: 5px;
    margin-right: 1px;
}

.input {
    width: 400px;
}

.output {
    width: 300px;
}
