:root {
    color-scheme: light dark;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga" on;
    text-rendering: optimizelegibility;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    font:
        400 14px / 1.4 Inter,
        sans-serif;
}
